{% extends "::base.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}

{% block body %}
<h2>User Management System</h2>
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
    </div>
    <button type="submit" class="btn btn-default">Add User</button>
    <br>
    <br>

    <div class="container">
        <select class="form-control">
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>
        <button type="submit" class="btn btn-default">Delete User</button>
        </div>
    </div>
    <br>

    <div class="container">
        <select class="form-control">
            <option>User</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>

        <select class="form-control">
            <option>Group</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>

        <button type="submit" class="btn btn-default">Assign User to Group</button>
    </div>
    <br>

    <div class="container">
        <select class="form-control">
            <option>User</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>

        <select class="form-control">
            <option>Group</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>

        <button type="submit" class="btn btn-default">Remove User from Group</button>
    </div>
    <br>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
    </div>
    <button type="submit" class="btn btn-default">Create Group</button>
    <br>
    <br>

    <div class="container">
        <select class="form-control">
            <option>Group</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Hello</option>
        </select>
        <button type="submit" class="btn btn-default">Delete Group</button>
        </div>
    </div>
    <br>

</form>
{% endblock %}
